<ng-container *ngTemplateOutlet="contentTemplate; context: content"></ng-container>

<ng-template #contentTemplate
>

@for(cont of content; track cont.toString()) {
    @switch(cont.elementType) {
        @case(NgContentType.p) {
            <p>{{cont.elementContent}}</p>
        } @case(NgContentType.a) {
            @if (!!cont.routerLink) {
                <a [routerLink]="cont.routerLink">{{cont.elementContent}}</a>
            } @else if (!!cont.href) {
                <a [href]="cont.href">{{cont.elementContent}}</a>
            }
        }
    }
}
</ng-template>